.before {
    border: none;
    margin: 0 0 0 50px;
    font-size: 30px;
    border-radius: 14px;
    background: #fbd241;
    box-shadow: 5px 5px 10px #d5b337, -5px -5px 10px #fff24b;
  }
  .after {
    border: none;
    margin: 0 0 0 50px;
    font-size: 30px;
    border-radius: 50px;
    background: #fbd241;
    box-shadow: inset 20px 20px 60px #d5b337, inset -20px -20px 60px #fff24b;
  }